Input_DOE/*pycache*
Thesis/article.acn
Thesis/article.acr
Thesis/article.alg
Thesis/article.aux
Thesis/article.bbl
Thesis/article.blg
Thesis/article.glsdefs
Thesis/article.ist
Thesis/article.log
Thesis/article.out
Thesis/int.bib
