Input_DOE/*pycache*
doc/Thesis/*.acn
doc/Thesis/*.acr
doc/Thesis/*.alg
doc/Thesis/*.aux
doc/Thesis/*.bbl
doc/Thesis/*.blg
doc/Thesis/*.glsdefs
doc/Thesis/*.ist
doc/Thesis/*.log
doc/Thesis/*.out
doc/Thesis/*.toc
doc/Thesis/*.pdf
doc/Thesis/thesis.pdf
Code/Input_DOE/__pycache__
*.swp
*.RData
