Input_DOE/*pycache*
Thesis/*.acn
Thesis/*.acr
Thesis/*.alg
Thesis/*.aux
Thesis/*.bbl
Thesis/*.blg
Thesis/*.glsdefs
Thesis/*.ist
Thesis/*.log
Thesis/*.out
Thesis/*.toc
Thesis/*.pdf
Process/article.aux
Process/article.bbl
Process/article.blg
Process/article.log
Process/article.out
Code/Input_DOE/__pycache__
